body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #6b73ff, #000dff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.auth-container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

h1, h2 {
  color: #000dff;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  width: 95%;
  padding: 12px;
  background-color: #000dff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4f57ff;
}

.google-btn {
  background-color: #db4437;
  margin-top: 10px;
}

.google-btn:hover {
  background-color: #c1351d;
}

.divider {
  margin: 15px 0;
  color: gray;
}
